.jumbotron h1 {
  font-size: 100px;
  color: orange;
}

.jumbotron p {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

label {
  font-size: 20px;
  font-weight: bold;
}

#ticket-information {
  display: none;
}
